.navbarContainer{background-color: aqua;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.homeIcon{
    color: aliceblue;
    font-size: 45px;
    opacity: 1;
  transition: 0.3s;
}
.navbarRight{
    background-color: coral;
}
.homeIcon:hover{
    cursor: pointer;
   
    color: rgba(240, 248, 255, 0.566);
    font-size: 45px;
}